/*-----------------------------------------------------------------
setting-start
-----------------------------------------------------------------*/
/* ----------------------- */
/* 全ページ共通
/* ----------------------- */
html {
    scroll-padding-top: 100px;
}
body {
    background-color: #FFBF66;
    font-family: -apple-system, BlinkMacSystemFont,'Noto Sans JP', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #663a00;
}

/* ----------------------- */
/* ヘッダー
/* ----------------------- */
header {
    background: white;
    height: 100px;
    display: flex;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    z-index: 99;
}
.logo-img {
    width: 330px;
    height: 55px;
    /* margin: auto 0 auto 15.4%; */
    margin: auto 0 auto 7.7%;
}
.site-logo {
    margin-left: 8.2%;
    font-size: 40px;
    color: #663a00;
    font-weight: 900;
    line-height: 1.35;
    display: flex;
    align-items: center;
}
.menu-link-wrapper {
    margin-left: auto;
    /* margin-right: 14.6%; */
    margin-right: 7.3%;
    display: flex;
    align-items: center;
    gap: 25px;
}
.menu-link-wrapper a {
    display: block;
    text-decoration: none;
    color: #604C3F;
    text-align: center;
}
.menu-link-item-ja {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.45;
}
.menu-link-item-en {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.31;
}

.header-smafo {
    display: none;
}
/* ----------------------- */
/* フッター
/* ----------------------- */
footer {
    font-size: 14px;
    height: 140px;
    background-color: #663a00;
    color: white;
    line-height: 1.43;
    text-align: center;
    display: table;
    width: 100%;
}
.footer-p {
  display: table-cell;
  vertical-align: middle;
}

.t-a-c {
    text-align: center;
}

/*1.フェードインアニメーションの指定*/
.introduction-img {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
 
/*2.上下の動きを指定*/
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}
 
/*3.左右の動きを指定*/
.sect02{overflow: hidden;} /*横スクロールバーを隠す*/
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .site-logo {
    font-size: 28px;
  }
  .menu-link-item-ja {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.45;
  }
  .menu-link-item-en {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.31;
  }
}

@media screen and (max-width: 539px) {
  .site-logo {
    font-size: 16px;
  }
  .menu-link-item-ja {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.45;
  }
  .menu-link-item-en {
    font-size: 8px;
    font-weight: bold;
    line-height: 1.31;
  }
}
*,
*:before,
*:after {
-webkit-box-sizing: inherit;
box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #663a00;
    border-radius: 15px 15px 0 0;
    text-align: center;
    display: block;
}
a.btn--orange {
    color: #fff;
    background-color: #eb6100;
}

a.btn--orange:hover {
    color: #fff;
    background: #f56500;
}

a.btn-c {
    font-size: 22px;
    padding: 1rem 1.5rem;
    border-radius: 100vh;

}

a.btn-c i.fa {
    margin-right: 1rem;
}
@media screen and (max-width: 767px) {
    .btn,
    a.btn,
    button.btn {
        font-size: 18px;
        padding: 0.5rem 1rem;
    }
}
@media screen and (max-width: 539px) {
    .btn,
    a.btn,
    button.btn {
        font-size: 14px;
        padding: 0.25rem 0.5rem;
    }
}